voos.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT voos (voo*)>
<!ELEMENT voo (escala+)>
<!ELEMENT escalas (escala+)>
<!ELEMENT escala (local+)>
<!ELEMENT local EMPTY>

<!ATTLIST voo id CDATA #REQUIRED>
<!ATTLIST local
          aeroporto CDATA #REQUIRED
          chegada CDATA #IMPLIED
          saida CDATA #IMPLIED
>
